html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #2f2f2f;
}

.container {
  margin: 6rem auto 0 auto;
  max-width: 1200px;
  padding: 0 5%;
}

.nav-bar {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.myTip {
  padding: 0.5rem !important;
}
.myTip:hover {
  background-color: transparent !important;
}
.MuiInput-underline:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.42) !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #00b248 !important;
}
.MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.54) !important;
}
.MuiFormLabel-root .Mui-Focused {
  color: #00b248 !important;
}
